<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    {{ (billCategory ? 'ACTIONS.EDIT' : 'ACTIONS.CREATE') | translate }}
    {{ 'BILL.CATEGORY.TITLE' | translate }}
  </span>

  <button mat-button mat-icon-button (click)="handleClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<form
  class="container"
  fxLayout="row"
  [formGroup]="form"
  (submit)="handleSubmit()"
>
  <mat-form-field appearance="fill" fxFlex="100%">
    <mat-label>{{ 'BILL.CATEGORY.TITLE' | translate }}</mat-label>

    <input #titleInput matInput required formControlName="title" />

    <mat-icon matPrefix>account_balance_wallet</mat-icon>

    <mat-error *ngIf="title?.touched && title?.errors">
      {{ 'ERRORS.REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>
</form>

<div
  class="footer"
  fxLayout="row"
  fxLayoutAlign="flex-end center"
  fxLayoutGap="10px"
>
  <button mat-button (click)="handleClose()">
    {{ 'ACTIONS.CANCEL' | translate }}
  </button>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
  >
    {{ (billCategory ? 'ACTIONS.EDIT' : 'ACTIONS.CREATE') | translate }}
  </button>
</div>
