.container {
  padding: 20px;

  &_title {
    font-size: 1.5em;
    font-weight: 500;
  }

  &_subtitle {
    color: #808080;
    font-size: 1.2em;
    text-transform: lowercase;
  }

  &_upload {
    padding: 0.75em;
    margin-bottom: 0 !important;
  }

  &_list {
    padding: 0.75em;

    &--item {
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      padding: 5px 20px;
    }
  }
}

.footer {
  padding: 0 30px 20px;
}
