.header {
  padding: 20px 30px;

  span {
    font-size: 2em;
    font-weight: 500;
  }
}

.container {
  overflow-x: hidden;
  height: calc(100vh - 64px);

  &_divzona {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_form {
    padding: 20px 30px;
  }

  &_title {
    font-size: 1.2em;
    font-weight: 500;
  }

  &_error {
    color: #f44336;
    font-size: 75%;
    margin-left: 10px;
  }

  &_list {
    border-radius: 4px;
    padding: 0.75em;
    background-color: rgba(0, 0, 0, 0.04);
    min-height: 200px;
    max-height: 280px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    &--item {
      position: relative;
      margin-top: 10px;
    }

    &--icon {
      position: absolute;
      top: 8px;
      right: 0;
    }

    span {
      max-width: 150px;
      text-overflow: ellipsis;
      white-space: pre;
      overflow: hidden;
    }
  }
}

.footer {
  padding: 20px 30px;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 425px;
  max-height: 50vh;
  border: 1px solid hsl(0, 0%, 77%);
  overflow: scroll;
}

@media (max-width: 480px) {
  .container {
    &_divzona {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
