@import 'variables';
@include angular-material-theme($wn-theme);

.container {
  padding: 20px;

  &_body {
    width: 100%;
    min-height: calc(100vh - 104px);

    &--actions {
      background: white;
      padding: 20px 20px 0;

      span {
        font-size: 1.5em;
        font-weight: 500;
      }
    }

    &--filter::ng-deep .mat-form-field-wrapper {
      padding: 0;
    }

    &--spinner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--table {
      position: relative;

      table {
        width: 100%;
      }
    }
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  ::ng-deep .mat-mini-fab {
    box-shadow: none;
  }

  td,
  th {
    width: calc(100% / 6);
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
  }
}

.success {
  background-color: map-get($wn-custom-colors, success) !important;
}

.error {
  background-color: map-get($wn-custom-colors, error) !important;
}

.neutral {
  background-color: map-get($wn-custom-colors, neutral) !important;
}

.sidenav {
  width: 20%;
}
